:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
        /* enable tnum feature */
        font-variation-settings: 'tnum' 1;
    }
}

body {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color:  #f2f2f2;
    margin: 0; 
    min-height: 100vh;
    
}

table {
    border-collapse: collapse;
    display: none;
    border: 1px solid #dfdfdf;
}

button,
input,
select {
    background: none;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    padding: 5px 10px;
    color: black;
    height: 25px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    color: #dfdfdf;
}

th,
td {
    padding: 6px 10px;
    text-align: center;
    border: none;
}

tr>th:first-child,
tr>td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    z-index:5;
}

[data-bs-theme='dark'] tr>th:first-child,
[data-bs-theme='dark'] tr > td:first-child {
    background-color: #212529; 
    

}


[data-bs-theme='dark'] 
img[src$=".svg"] {
    filter: brightness(100);
  }



tr>td:nth-child(even).available {
    background-color: #D5FFCF !important; 
    color: #286327;
}

tr>td:nth-child(odd).available {
    background-color: #BDFFBC !important;
    color: #286327;
}

tr>td:nth-child(even).booked {
    background-color: #f8b6b6 !important;
    color: #750909;
}

tr>td:nth-child(odd).booked {
    background-color: #FFA6A6 !important;
    color: #750909;
}
.unavailable {
    background-color: gainsboro !important;
    color: black;
}

[data-bs-theme='dark'] tr > td:nth-child(even).available {
    background-color: #3B673D !important; 
    color: #D5FFCF;
}

[data-bs-theme='dark'] tr > td:nth-child(odd).available {
    background-color: #4B7C4B !important; 
    color: #D5FFCF;
}

[data-bs-theme='dark'] tr > td:nth-child(even).booked {
    background-color: #802727 !important; 
    color: #f8b6b6;
}

[data-bs-theme='dark'] tr > td:nth-child(odd).booked {
    background-color: #993333 !important; 
    color: #FFA6A6;
}

[data-bs-theme='dark'] .unavailable {
    background-color: #555555 !important; 
    color: white;
}


label {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #0066ff;
}


#queryForm {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top:1em;
    margin-bottom:1em;
}

.queryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#notice {
    font-size: 13px;
}

@media (max-width: 600px) {
    #queryForm {
        flex-direction: column;
    }

    .smolFont {
        font-size: 10px;
        white-space: nowrap;

    }
}
.smolFont{
    padding: .1rem .1rem !important;
    line-height: 40px;
}

#tableContainer {
    width: 100vw;

    justify-content: center;
    align-items: center;
}

dialog {
    border-radius: 10px;
    border: solid 1px lightgray;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
@media (max-width: 365px) {
    .dialogContent {
        width: 100%; 
    }
}

.dialogTitle {
    margin: 0;
}

.dialogFormBlock {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    align-items: center;
}

label[for="startTime"],
label[for="endTime"] {
    width: 75px;
    font-size: 13px;
}


.dialogButtonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dialogContent>p {
    font-size: 13px;
    margin: 0;
    opacity: 0.5;
}

.dialogButtonRow>button {
    flex: 1;
}

#seatGuide {
    margin-top: 18px;
    margin-bottom: 18px;
    display: none;
}

.warningBlock {
    background: rgba(255, 220, 94, 0.2);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgba(255, 220, 94, 0.6);
    font-size: 13px;
}

.queryDiv{
    margin-top: 2em;
    display: flex;
    
}

#languageSwitch {
    position: inherit;
    top: 20px;
    right: 10px;
    z-index: 10; 
}

#notice-label{
    position: inherit;
    bottom: 20px;
    left: 10px;
    z-index: 10; 
}

.innerContentDiv{
    min-height: 82vh;
}

.form-control, .btn {
    height: 40px;
}

.dropdown-menu {
    padding: 0.5rem;
    width: 20rem;
}
.card {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.card-img-top  {
    width:100%;
    }

[data-bs-theme='dark']
.card:hover {
    background-color: #292d31;
}
    
.card:hover {
    background-color: #f7f8fa;
}



.image-div{
    width: 100%; 
    height: 66.7%;
    padding-bottom: 66.7%;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
}

.compact-mode img {
display: none;
}
.compact-mode .card-body {
padding: 0.5rem;
}
.compact-mode .card-text {
font-size: 1rem;
margin: 0;
}
.top-text {
display: flex;
justify-content: space-between;
align-items: center;
}
.compact-button {
vertical-align: middle;
}
.library-dropdown{
border-color: #dee2e6 !important;
}

#dropdownMenu {
    display: none; 
    position: absolute;
    width: 400px; 
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
    max-height: 500px;
    overflow-y: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: block;

  }
  
  /* Center the dropdown on mobile devices */
  @media only screen and (max-width: 600px) {
    #dropdownMenu {
      width: 90vw;
      height: 70vh;
      max-height: 100vh;
      position:fixed !important;
      top: 25%; /* Center vertically */
      left: 50%; /* Center horizontally */
      transform: translate(-50%, 0%); /* Offset the positioning */
      animation: popUp 0.2s ease-in-out;
    }
  }

  @keyframes popUp {
    from {
        opacity: 0;
        transform: translate(-50%, 50%); /* Start from below */
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0); /* End at the original position */
    }
}


.image-container {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    height: 82vh;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }

  .modal-body {
    height: 85vh;
  }

  #openMapCarousel {
    display: none;
  }
  #imageModalLabel {
    color:black;
  }
  .carousel-control-next, .carousel-control-prev{
    top:50% !important;
  }
  .carousel-indicators{
    bottom: -4% !important;
  }